<div class="footer__desc">
     <div class="container footer__desc-container">
          <div class="footer__about">
               <h4>Despre WorkHub</h4>
               <p>
                    WorkHub este o platformă inovatoare care conectează freelanceri cu clienți, oferind servicii personalizate precum dezvoltare web, design grafic, traduceri și asistență pentru studenți. Cu o abordare orientată pe creativitate, profesionalism și rezultate măsurabile, WorkHub simplifică procesul de colaborare și asigură soluții rapide pentru orice proiect.
               </p>
          </div>
          <div class="footer__links">
               <h4>useful links</h4>
               <ul>
                    <li><a href="#!">Ghid Freelancer: Cum să începi ca freelancer</a></li>
                    <li><a href="#!">Inspirație pentru design grafic: Dribbble</a></li>
                    <li><a href="#!">Resurse pentru dezvoltatori web: MDN Web Docs</a></li>
                    <li><a href="#!">Tutoriale pentru începători în IT: W3Schools</a></li>
               </ul>
          </div>
          <div class="footer__social">
               <h4>social</h4>
               <ul>
                    <li>
                         <img src="@Url.Content("~/Content/img/icon-tw.jpg")" alt="Descrierea imaginii">
                         <a href="#!">Twitter</a>
                    </li>
                    <li>
                         <img src="@Url.Content("~/Content/img/icon-fb.jpg")" alt="Descrierea imaginii">
                         <a href="#!">Facebook</a>
                    </li>
                    <li>
                         <img src="@Url.Content("~/Content/img/icon-pt.jpg")" alt="Descrierea imaginii">
                         <a href="#!">Pinterest</a>
                    </li>
                    <li>
                         <img src="@Url.Content("~/Content/img/icon-google.jpg")" alt="Descrierea imaginii">
                         <a href="#!">Google</a>
                    </li>
                    <li>
                         <img src="@Url.Content("~/Content/img/icon-wb.jpg")" alt="Descrierea imaginii">
                         <a href="#!">Webflow</a>
                    </li>
               </ul>
          </div>
     </div>
</div>
<div class="footer__copy">
     <div class="container">
          <p>© 2024 WorkHub. Platforma ta de colaborare online.</p>
     </div>
</div>