@{
     Layout = "~/Views/Shared/_Layout.cshtml";
     ViewBag.Title = "Sign Up";
}

@using System.Web.Optimization;
@model WorkHub.Web.Models.Reg.RegData

<section class="common-section">
     <div class="container">
          <h2 class="white-text title">Creează-ți un cont</h2>
          <p class="subtitle white-text">Completează formularul pentru a te înregistra</p>

          @using (Html.BeginForm("Reg", "Register", FormMethod.Post, new { @class = "signup-form" }))
          {
               <div class="form-group">
                    @Html.LabelFor(u => u.Username, "Nume complet")
                    @Html.TextBoxFor(u => u.Username, new { @class = "form-control", @placeholder = "Introdu numele complet" })
                    @Html.ValidationMessageFor(u => u.Username, "", new { @class = "text-danger" })
               </div>

               <div class="form-group">
                    @Html.LabelFor(u => u.Email, "Email")
                    @Html.TextBoxFor(u => u.Email, new { @type = "email", @class = "form-control", @placeholder = "Introdu adresa de email" })
                    @Html.ValidationMessageFor(u => u.Email, "", new { @class = "text-danger" })
               </div>

               <div class="form-group">
                    @Html.LabelFor(u => u.Password, "Parolă")
                    @Html.PasswordFor(u => u.Password, new { @class = "form-control", @placeholder = "Introdu parola" })
                    @Html.ValidationMessageFor(u => u.Password, "", new { @class = "text-danger" })
               </div>

               <div class="form-group">
                    @Html.LabelFor(u => u.ConfirmPassword, "Confirmă parola")
                    @Html.PasswordFor(u => u.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirmă parola" })
                    @Html.ValidationMessageFor(u => u.ConfirmPassword, "", new { @class = "text-danger" })
               </div>


               <button type="submit" class="btn btn-primary">Înregistrează-te</button>
          }

          <p class="signin-link white-text">
               Ai deja un cont? <a href="@Url.Action("Index", "Auth")" class="link">Conectează-te</a>
          </p>
     </div>
</section>

<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet" />
